# Virtual environment
venv/
env/
__pycache__/
*.pyc

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code settings folder
.vscode/

# Pip cache folder (optional)
pip-cache/
